# =========================
# Deep Learning Framework
# =========================
torch==2.2.2
torchvision==0.17.2

# =========================
# YOLOv8 (Ultralytics)
# =========================
ultralytics==8.0.20
opencv-python-headless==4.8.1.78

# =========================
# Web App
# =========================
streamlit

# =========================
# Image & Numerical Processing
# =========================
Pillow
numpy
imagehash
scikit-image

# =========================
# Plotting / Visualization
# =========================
matplotlib
