# =========================
# Deep Learning Framework
# =========================
torch
torchvision

# =========================
# YOLOv8 (Ultralytics)
# =========================
opencv-python-headless==4.11.0.86
ultralytics==8.1.0

# =========================
# Web App
# =========================
streamlit

# =========================
# Image & Numerical Processing
# =========================
Pillow
numpy
imagehash
scikit-image

# =========================
# Plotting / Visualization
# =========================
matplotlib
